[include]
  path = ~/.gitconfig.local
[core]
  editor = $EDITOR
  excludesfile = ~/.gitignore
  ignorecase = false
  abbrev = auto
	pager = diff-so-fancy | less --tabs=4 -RF
[alias]
  ll = log --graph --decorate --date=format-local:'[%x %I:%M%p]' --all --format='%C(blue)%h %C(magenta)%ad %C(yellow)%al%C(auto)%d: %C(white)%s%n%b%C(reset)'
  branches = for-each-ref --sort=-committerdate --format=\"%(color:magenta)%(authordate:relative) %(color:yellow)%(authorname) %(color:white)%(color:bold)%(refname:short)\"
[color]
  ui = auto
[diff]
  algorithm = patience
  colorMoved = zebra
[push]
  default = current
[commit]
  verbose = true
[fetch]
  prune = true
[rebase]
  autosquash = true
[pager]
  branch = false
[user]
	name = Ari Singer
	email = me@arisinger.net
[pull]
	rebase = false
[init]
    defaultBranch = main
[help]
    autocorrect = 20
[log]
      abbrevCommit = true
[interactive]
	diffFilter = diff-so-fancy --patch
